# Created by https://www.toptal.com/developers/gitignore/api/nim,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=nim,visualstudiocode

### Nim ###
nimcache/
nimblecache/
htmldocs/

### Executables Nim ###
project
test_1
test_2
test_3
test_4
test_5

### Test files  ###
*.pfm
*.png

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/nim,visualstudiocode
